.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  padding: 10px 20px; 
  position: relative;
  

}

.background{
  background-color: linear-gradient(358.93deg, #080808 0.83%, rgba(13, 12, 15, 0.85) 28.55%, rgba(13, 12, 15, 0) 48.81%, rgba(13, 12, 15, 0.284314) 70.66%, #080808 103.18%)
}
.nav-list li {
  margin: 0 10px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

@media (max-width: 1070px) {
  .nav-toggle {
    display: flex;
  
  }
 
  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    text-align: center;
    
   
    transition: all ease-in-out;
  }

  .nav-list.open {
    display: flex;
      
  }

  .nav-list li {
    margin: 10px 0;
  }
  
}
